body{
		font-family: 'Malgun Gothic', 'Verdana';
		background-color: #ffffff;
		color: #000000;
		margin: 0 ;
		padding: 0;
	}

h1{
	font-size: 2em;
	padding-bottom: 0;
	margin-bottom: 0;
}
div#wrapper{
	width: 90%;
	padding-bottom: 0;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	
}
div#header{
	position: relative;
	margin-bottom: 0;
	padding:0;
	color:#000;
}
div#title-box{
	float : left;
	text-align: center;
	display: block; /* �ٹٲ� */
	
}
div#Login-box{
	float: right;
	margin: 10px;
	font-size: 1.1em;
	display: block;
	color : #000000;
}
div#Login-box a:hover{
	colo: #400040;
	text-decoration: none;
}
div#Login-box a:active{
	colo: #80ff00;
	text-decoration: none;
}
div#menu-box{
	clear:both;
	margin-top: :40px;
	
}
div#header h1{
	color:#000000;
	padding : 5px 0;
	margin: 0;
	border: none;
	line-height: 2em;
	font-weight: bold;
	font-size: 32px;
}
div#content{
	
	/* background-image : url("../img/home/s.jpg"); */
	margin-bottom: 30px;
	min-height: 400px;
	
	 
		
}
div#content-box{
	clear:both;
	text-align : center;
	color: black;
	
}
div#content-img{
	
}

ul#menu{
	text-align: right;
	margin: 0;
	border-bottom: 1px #0080ff;
	position: relative;
}
ul#menu li{
	display: inline;
	list-style: none;
	background-color: #00ff00;	
}
ul#menu li a{
	padding: 10px 20px;
	background-color: #0080ff;
	font-weight: bold;
	text-decoration: none;
	line-height: 2.8em;
	color : black;
		
}
ul#menu li a:hover{
	background-color: #8000ff;
	text-decoration: none;
		
}
ul#menu li a:active{
	background-color: #ff8040;
	text-decoration: none;
		
}
div#footer{
	clear: both;
	color:#000000;
	text-align: center;
	padding:10px;
	line-height: nomal;
	font-size: 1.5em;
}
#user
{margin: 150px auto;width:250px;}


	 table,th,td{border: 1px solid black;border-collapse: collapse;/* text-align:center; */ }
	#wt{width:20%}
	#tb{width:70%; /* margin: 0 auto */ }
	
	
	 a:hover {color: #ff0000;font-size: 15px} 

	.he-50{height:50px}
	.height-500px{height:500px} 
#deleteForm{
	style="border:1px solid black"
}

#moveLoginForm{
	background-color: #99ccff;
    color: white;
    font-size : 17px;
    text-align: center;
    display: inline-block;
    
}

#joinLoginForm{
	background-color: #99ccff;
    color: white;
    font-size : 17px;
    text-align: center;
    display: inline-block;
    
}
.bgcolorisYellow{background-color: #ffff00}
#contentBoxTab{
	margin: auto;
	
}

.height22px{
	height:22px;
}
.pageBox{
		list-style: none;
		padding: 0;
		margin: 0;
}
.pageBox li{
	display:inline;
}

#logoutButt{
	background-color: #99ccff;
    color: white;
    font-size : 17px;
    text-align: center;
    display: inline-block;
    
}
[class*=icon-page-login__]{
	background-image: url("../img/logo.JPG");
	background-size:  320px auto;
    background-repeat: no-repeat;
    display: inline-block;
}



.sign-in-form {
    width: 100%;
    max-width: 400px;
    padding: 40px 30px;
    margin: 0 auto;
    box-sizing: border-box;
    text-align: center;
}

.sign-in-form__form__input{
	display: block;
    width: 100%;
    height: 50px;
    margin: 0;
    font-size: 15px;
    line-height: 50px;
    color: #424242;
}
.sign-in-form__form__submit {
    display: block;
    width: 100%;
    height: 50px;
    margin: 20px 0;
    padding: 13px 15px;
    font-size: 17px;
    line-height: 1.41;
}
.btn-priority {
    background-color: #35C5F0;
    border-color: #35C5F0;
    color: white;
}
.sign-in-form__action {
    margin: 20px 0;
    text-align: center;
    color: #424242;
    font-size: 15px;
    line-height: 1.4;
}
.sign-in-form__action__entry {
    display: inline-block;
    padding: 3px 5px;
    margin: -3px 10px;
}
#main2 {
    margin-top: 60px;
    margin-bottom: 60px;
}
.container_add{
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
    width: calc(100vw - 80px);
    max-width: 100%;
    box-sizing: border-box;}
.icon {
    background-repeat: no-repeat;
    background-size: 400px;
    display: inline-block;
}
.signup-form__social__button {
    margin-right: 20px;
}
.icon-sns-circle-md-kakao-talk {
    width: 48px;
    height: 48px;
    background-position: top -68px left -78px;
}
.new_normal_user{
	text-align: left;
	
}
.p1{
	font-size:13px;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
.signup-form__policy__policy-list {
    border: solid 1px #dbdbdb;
    padding: 15px;
    box-sizing: border-box;
}
.signup-form__policy__check-all {
    height: 22px;
    line-height: 22px;
    position: relative;
    margin-bottom: 15px;
}
.signup-form__policy__check-all>.form-check {
    position: absolute;
    right: 15px;
    top: 0;
}
.bold {
    font-weight: bold;
}